{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block login %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
{% endblock %}

{% block register %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>
{% endblock %}

{% block body %}

    <br><br>
    <h1 class="text-center">Welcome to BestReads</h1>
    <h4 class="text-justify">A website where you can search for a book from a list and see its reviews.</h4>
    <h4 class="text-justify">You can also add your own review for a book.</h4>

    <img src="../static/img/it.jpg" class="rounded float-left" alt="it">
    <img src="../static/img/ford_county.jpg" class="rounded float-right" alt="ford county">


{% endblock %}
