{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block register %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>
{% endblock %}

{% block body %}

    <form class="form-signin text-center" action="{{ url_for('login') }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <div class="row justify-content-center">
            <div class="col-auto col-sm-6">
                <label class="sr-only" for="inlineFormInputGroup">Email</label>
                <div class="input-group mb-2">
                    <input name="email" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto col-sm-6">
                <label class="sr-only" for="inlineFormInputGroup">Password</label>
                <div class="input-group mb-2">
                    <input name="password" type="password" class="form-control" id="inlineFormInputGroup"
                           placeholder="Password">
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

        </div>

        <div class="row justify-content-center">
            <button class="btn btn-lg btn-primary btn-block col-4" type="submit">Sign in</button>
        </div>
        <br><br>

        {% if message %}
            <div class="row justify-content-center">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
        </div>

    </form>

{% endblock %}
